{% for cmdinfo in cmdinfos %}
<div class="well searched_mmlinfo">
    <span class="cmdname" onclick="searched_mmlinfo_click(event)">{{ cmdinfo.cmdname }}</span>
    <span class="groupname"><a href="{{cmdinfo.responsefield.introduce}}">{{ cmdinfo.responsefield.groupname }}</a></span>
</div>
{% endfor %}

{% for solution in solutions %}
<div class="well searched_solution">
    <span class="solution_info" onclick="searched_solutioninfo_click(event)"><a href="/searchresult/?solution={{solution.id}}">{{ solution.solutionname }}</a></span>

</div>
{% endfor %}
{% if not cmdinfos and not solutions %}
<div class="well">
    <span> 没找到和{{query}}相关的结果.</span>
</div>
{% endif %}