{% load staticfiles %}
<html>
    <head>
        <script src = "{% static 'jquery/jquery.js' %}"></script>
        <script src = "{% static 'jquery/jquery-ui.min.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <title>关于TDS</title>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    </head>

    <body style="padding:20px">
        <table border="0" cellpadding="0" cellspacing="0" width="95%">
            <p><a href="/">1. 首页</a></p>
            <p>2. TDS全称（Trouble Distribute System)，用于<b class="text-primary">协助解决一些确定性问题</b>（帮忙确认一下是谁的命令（事件、函数、模块、任务、特性……），
                命令无法下发、配置未下发单板、软件激活失败等常见简单问题的分发）以及<b class="text-primary">提供一些辅助工具</b>（计算资源的值），从而<b class="text-primary">提高问题支撑效率</b>
            </p>
            <p>3. 设计初衷</p>
            <p>4. 关于隐私，不会乱用</p>
        </table>


    </body>


</html>