
{% extends 'navir_bar.html' %}
{% load staticfiles %}


{% block title%}
<title>分发开始</title>
{% endblock%}

{% block js %}
<script src = "{% static 'js/search.js' %}"></script>

<script>

</script>

{% endblock %}


{% block css %}
<link href="{% static 'extcss/tds.css' %}" rel="stylesheet" type="text/css">
<style>
body {
  background-color: #eee
}
</style>
{% endblock %}

{% block content %}

<h3>选择版本:</h3>

<div class="row" id="page">
    <div class="col-lg-8">
        <div class="row" id="quick_nav">
            <div class="col-lg-3">
                <div class="verinfo_card">
                    <div class="verinfo">
                        <div class="text">
                            <h2>产品版本.</h2>
                            <h3 class="animate-text">平台版本.</h3>
                            <p class="animate-text">版本信息. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="verinfo_card">
                    <div class="verinfo">
                        <div class="text">
                            <h2>产品版本.</h2>
                            <h3 class="animate-text">平台版本.</h3>
                            <p class="animate-text">版本信息. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="verinfo_card">
                    <div class="verinfo">
                        <div class="text">
                            <h2>产品版本.</h2>
                            <h3 class="animate-text">平台版本.</h3>
                            <p class="animate-text">版本信息. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="verinfo_card">
                    <div class="verinfo">
                        <div class="text">
                            <h2>产品版本.</h2>
                            <h3 class="animate-text">平台版本.</h3>
                            <p class="animate-text">版本信息. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
    <h3>
        相关推荐
    </h3>
    </div>
</div>

        <div class="row clearfix">
            <div class="col-md-6 col-md-offset-3 column">
                <form id="search-form" action="" method="post">
                    {% csrf_token %}
                    <div class="input-group input-group-sm">
                        {{ search.query.errors }}
                        {{ search.query }}
                        <span class="input-group-btn">
                            <button class="btn btn-search" type="submit" >search</button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>
        </div>
 <div class="col-md-12 column cmdinfos">  </div>

<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
    </div>
    <div class="col-lg-3">
    </div>

</div>

<div class="row">
<div class="col-lg-12">
    <p>您选择的版本是R10C10,当前对应的版本接口人信息如下</p>
<p>交付经理:杨发森</p>
<a>应用:张伟</a><br>
<a>内核:贾林丽</a><br>
<a>业务:刘进谋</a><br>

</div>
</div>


{% endblock %}
