<!DOCTYPE html>
{% load staticfiles %}

<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
                            function onKeyDown(event){
                                var e = event || window.event || arguments.callee.caller.arguments[0];
                                if(e && e.keyCode==27){ // 按 Esc
                                    //要做的事情
                                    alert("此处Esc触发搜索事件");
                                }
                                if(e && e.keyCode==113){ // 按 F2
                                     //要做的事情
                                     alert("此处F2触发搜索事件");
                                }
                                if(e && e.keyCode==13){ // enter 键
                                     alert("此处回车触发搜索事件");
                                }
                            }
                        </script>



<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="main page">
    <meta name="author" content="l00351192">
    <title>半自动化助手</title>
    <script src="text/jsavascript" src = "{% static 'jquery/jquery-ui.min.js' %}"></script>
    <script src="text/jsavascript" src = "{% static 'jquery/jquery-latest.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>  

    <link href="{% static 'bootstrap/css/carousel.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">

</head>

<!-- NAVBAR
================================================== -->

<body>
<div class="navbar-wrapper">
    <div class="container">
     <nav class="navbar navbar-inverse navbar-static-top">
<!--               <nav class="navbar navbar-inverse bg-primary">    <nav class="navbar navbar-inverse bg-inverse"> -->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="" onClick="window.location.href='./';">TDA</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="" onClick="window.location.href='./';">主页</a></li>
                        <li><a href="rtn300">RTN300</a></li>
                        <li><a href="search">RTN900</a></li>
                        <li><a href="#MSTPFrame">MSTP框</a></li>
                        <li><a href="#MSTPBox">MSTP盒</a></li>
                        <li><a href="#8800">8800</a></li>
                        <li><a href="#1800">1800</a></li>
                        <li><a href="#9800">9800</a></li>
                        <li><a href="#902">902</a></li>
                        <li><a href="#other">other</a></li>
                    </ul>

                    <form id="searchform" method="get" class="navbar-form navbar-right" onkeydown="onKeyDown(event)" role="search">
                        <label for="navbar-search" class="sr-only">搜索:</label>
                        <div class="form-group has-feedback has-feedback-left">
                            <span class="form-control-feedback"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="s" id="navbar-search" value="" placeholder="Search"/>
                        </div>
                    </form>

                </div>

            </div>
        </nav>
    </div>
</div>




    <!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>单板启动过程.</h1>
                    <p>有可能是传送网最优质的扫盲贴了.</p>
                    <p><a class="btn btn-lg btn-primary" href="http://www.baidu.com" role="button">了解一下</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>异常问题定位精彩集合</h1>
                    <p>不会挖坑？对复位问题没有经验？进来瞧一瞧，总能找到你的菜~</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">了解一下</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>TDS使用指南</h1>
                        <p>TDS(Trouble Dispatch System)缺陷分发系统使用指导</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">了解一下</a></p>
                    </div>
                </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <div class="list-group">
                    <a href="#" class="list-group-item active left">
                        <h4 class="list-group-item-heading">
                            已解决问题
                        </h4>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            单板未自动安装
                        </h4>
                        <p class="list-group-item-text">
                            RTN380H
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            网元激活后SYSERR
                        </h4>
                        <p class="list-group-item-text">
                            HMSTP
                        </p>
                    </a>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="list-group">
                    <a href="#" class="list-group-item active left">
                        <h4 class="list-group-item-heading">
                            待解决问题
                        </h4>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            单板未自动安装
                        </h4>
                        <p class="list-group-item-text">
                            RTN380H
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            网元激活后SYSERR
                        </h4>
                        <p class="list-group-item-text">
                            RTN380H
                        </p>
                    </a>
                </div>
            </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
                <div class="list-group">
                    <a href="#" class="list-group-item active left">
                        <h4 class="list-group-item-heading">
                            往期精彩内容
                        </h4>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            单板未自动安装
                        </h4>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            网元激活后SYSERR
                        </h4>
                    </a>
                </div>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

      <!-- START THE FEATURETTES -->
<!--
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
-->
      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
<!--      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div>
-->
<!-- /.container -->

<!--
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="static/images/slide1.png" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="static/images/slide1.png" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="static/images/slide1.png" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    -->


</body>
</html>