{% load staticfiles %}
<html>
    <head>
        <script src = "{% static 'jquery/jquery.js' %}"></script>
        <script src = "{% static 'jquery/jquery-ui.min.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <title>查询内容非法</title>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    </head>

    <body style="padding:20px">
        <table border="0" cellpadding="0" cellspacing="0" width="95%">
            <p><a href="/">回到首页</a></p>
            <H1>
                查询内容非法
            </H1>
        </table>


    </body>


</html>