{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src = "{% static 'jquery/jquery.js' %}"></script>
    <script src = "{% static 'jquery/jquery-ui.min.js' %}"></script>
    <script src = "{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script src = "{% static 'js/handlebars-v4.0.10.js' %}"></script>
    <script src = "{% static 'js/typeahead.bundle.js' %}"></script>

    <link href="{% static 'extcss/index.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"  type="text/css" media="screen">
    <link href="{% static 'extcss/typeaheadjs.css' %}" rel="stylesheet"  type="text/css">
    <title>TDS</title>

    <script>

        function getCookie(name) 
        { 
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)"); 
        if(arr=document.cookie.match(reg))
            return unescape(arr[2]); 
        else 
            return null; 
        } 
        $(function () {
        $.ajaxSetup({
            headers: { "X-CSRFToken": getCookie("csrftoken") }
        });
        });



    $(document).ready(function ($) {
    //远程数据源
    var remote_solutions = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('SolutionName'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: 'search?solutionName=%QUERY&request=typeaheadData',
            wildcard: '%QUERY'
        }
    });

    remote_solutions.initialize();

    $('#remote-solution .typeahead').typeahead(null, {
        name: 'solutions',
        displayKey: 'SolutionName',
        source: remote_solutions.ttAdapter()
    });
    });
$(document).keyup(function(event){
      if(event.keyCode ==13){
        $("#submit").trigger("click");
      }
    });

    $(document).ready(function(){
    $("#input_search").keyup(function(event){
        if(event.keyCode ==13){
            var query = $("#input_search").val()
            //跳转到定位页面 ?username=zhangsan
            next_location = '/result/?q='+ query  + '&page=1';
            console.log("执行了按钮"+ next_location);
            location.href= next_location;
         }
    });

    $("#bt_search").click(function(e){
            var query = $("#input_search").val()
            //跳转到定位页面 ?username=zhangsan
            next_location = '/result/?q='+ query  + '&page=1';
            console.log("执行了按钮"+ next_location);
            location.href= next_location;
    });

    });

    </script>

</head>

<body>
    <div class="row" style="margin-top:10px">
        <div class="col-lg-11"></div>
        <div class="col-lg-1">
            <p class="text-muted"><a href="/about">关于TDS</a></p>
        </div>
    </div>

    <div class="row" style="margin-top:150px">
        <div class="col-lg-5"></div>
        <div class="col-lg-2"><img src="/static/images/log.png" width="300px"> </div>
    </div>
    <div class="row" >
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="input-group" id="remote-solution">
                <input class="form-control input-lg typeahead" type="text" id="input_search">
                <span class="input-group-addon btn btn-primary" id="bt_search">搜索</span>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="col-md-12 column cmdinfos" id="search_result">  </div>
    </div>




</body>


<script type="text/javascript">  
  
//实现搜索输入框的输入提示js类
function oSearchSuggest(searchFuc){
    var input = $('#gover_search_key');
    var suggestWrap = $('#gov_search_suggest');
    var key = "";
    var init = function(){
        input.bind('keyup',sendKeyWord);
        input.bind('blur',function(){setTimeout(hideSuggest,100);})
    }
    var hideSuggest = function(){
        suggestWrap.hide();
    }


    //发送请求，根据关键字到后台查询
    var sendKeyWord = function(event){
    console.log("solution_id:" )
        //键盘选择下拉项
        if(suggestWrap.css('display')=='block'&&event.keyCode == 38||event.keyCode == 40){
            var current = suggestWrap.find('li.hover');
            if(event.keyCode == 38){
                if(current.length>0){
                    var prevLi = current.removeClass('hover').prev();
                    if(prevLi.length>0){
                        prevLi.addClass('hover');
                        input.val(prevLi.html());
                    }
                }else{
                    var last = suggestWrap.find('li:last');
                    last.addClass('hover');
                    input.val(last.html());
                }

            }else if(event.keyCode == 40){
                if(current.length>0){
                    var nextLi = current.removeClass('hover').next();
                    if(nextLi.length>0){
                        nextLi.addClass('hover');
                        input.val(nextLi.html());
                    }
                }else{
                    var first = suggestWrap.find('li:first');
                    first.addClass('hover');
                    input.val(first.html());
                }
            }

        //输入字符
        }else{
            var valText = $.trim(input.val());
            if(valText ==''||valText==key){
                return;
            }
            searchFuc(valText);
            key = valText;
        }

    }
    //请求返回后，执行数据展示
    this.dataDisplay = function(data){
        if(data.length<=0){
            suggestWrap.hide();
            return;
        }
          console.log("solution_idddddd:" )
        //往搜索框下拉建议显示栏中添加条目并显示
        var li;
        var tmpFrag = document.createDocumentFragment();
        suggestWrap.find('ul').html('');
        for(var i=0; i<data.length; i++){
            li = document.createElement('LI');
            li.innerHTML = data[i];
            tmpFrag.appendChild(li);
        }
        suggestWrap.find('ul').append(tmpFrag);
        suggestWrap.show();

        //为下拉选项绑定鼠标事件
        suggestWrap.find('li').hover(function(){
                suggestWrap.find('li').removeClass('hover');
                $(this).addClass('hover');

            },function(){
                $(this).removeClass('hover');
        }).bind('click',function(){
            input.val(this.innerHTML);
            suggestWrap.hide();
        });
    }
    init();
};
  
//实例化输入提示的JS,参数为进行查询操作时要调用的函数名  
var searchSuggest =  new oSearchSuggest(sendKeyWordToBack);  
  
//这是一个模似函数，实现向后台发送ajax查询请求，并返回一个查询结果数据，传递给前台的JS,再由前台JS来展示数据。本函数由程序员进行修改实现查询的请求  
//参数为一个字符串，是搜索输入框中当前的内容  
function sendKeyWordToBack(keyword){
    console.log("solution_iddd:" + keyword )
       /*  var obj = {  
                "keyword" : keyword  
             };  
             $.ajax({  
                       type: "POST",  
                       url: "${ctx}/front/suqiu2/search/prompt-keyword.action",  
                       async:false,  
                       data: obj,  
                       dataType: "json",  
                       success: function(data){  
                         //var json = eval("("+data+")");  
                         var key=data.split(",");  
                         var aData = [];  
                         for(var i=0;i<key.length;i++){  
                                //以下为根据输入返回搜索结果的模拟效果代码,实际数据由后台返回  
                            if(key[i]!=""){  
                                  aData.push(key[i]);  
                            }  
                         }  
                        //将返回的数据传递给实现搜索输入框的输入提示js类  
                         searchSuggest.dataDisplay(aData);  
                       }  
         });      */  
               
                //以下为根据输入返回搜索结果的模拟效果代码,实际数据由后台返回  
                var aData = [];  
                aData.push(keyword+'返回数据1');  
                aData.push(keyword+'返回数据2');  
                aData.push(keyword+'不是有的人天生吃素的');  
                aData.push(keyword+'不是有的人天生吃素的');  
                aData.push(keyword+'2012是真的');  
                aData.push(keyword+'2012是假的');  
                //将返回的数据传递给实现搜索输入框的输入提示js类  
                searchSuggest.dataDisplay(aData);  
      
}  
  
</script>  

</html>